{% extends 'base.html' %}
{% load static %}

{% block titulo %}Antithesis - Cadastro{% endblock %}
{% block tituloHome %}Cadastro{% endblock %}
{% block subtituloHome %}Para postar suas <i>"maluquices"</i> você precisa se cadastrar no sistema, depois é só fazer o login e embarcar nessa doidera{% endblock %}
{% block imagemBackground %}{% static 'img/universe2.gif' %}{% endblock %}

{% block siteHeading %}site-heading{% endblock siteHeading %}

{% block content %}
<div class="row col-md-12">
	<div class="col-md-4 offset-md-4">
		<div class="card auth-card">
			<div class="card-body">
				<form action="{% url 'cadastro_usuario:cadastro_usuario' %}" method="POST">
					{% csrf_token %}

					{% for field in form %}
						<div class="form-group">
							<label>{{ field.label_tag }}</label>
							{{ field }}
							{{ field.errors }}
						</div>	
					{% endfor %}

					<button class="btn btn-primary btn-block" type="submit" name="action">Cadastrar</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}