<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Antithesis - Login</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>
<body>
	<div class="container row">
		<h3 class="center">Login</h3><br>

		<form action="{% url 'login_usuario:login_usuario' %}" method="POST">
			{% csrf_token %}

			{% for field in form %}
				<div class="col s12">
					<div class="input-field col s6">
						{{ field }}
						{{ field.label_tag }}
					</div>
				</div>
			{% endfor %}

			<div class="col s12">
				<p>{{ erro }}</p>
			</div>

			<div class="col s12">
				<button class="btn waves-effect waves-light" type="submit" name="action">
					Logar
					<i class="material-icons right red-text">favorite</i>
				</button>
			</div>
		</form>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>