{% extends 'base.html' %}
{% load static %}

{% block titulo %}Antithesis - Login{% endblock %}
{% block tituloHome %}Login{% endblock %}
{% block subtituloHome %}Se você já possui uma conta, logue para finalmente postar suas primeiras teorias!{% endblock %}
{% block imagemBackground %}{% static 'img/universe3.gif' %}{% endblock %}

{% block content %}
<div class="row col-md-12">
	<div class="col-md-4 offset-md-4">
		<div class="card auth-card">
			<div class="card-body">
				<form action="{% url 'login_usuario:login_usuario' %}" method="POST">
					{% csrf_token %}

					{% for field in form %}
						<div class="form-group">
							<label>{{ field.label_tag }}</label>
							{{ field }}
							{{ field.errors }}
						</div>	
					{% endfor %}

					<button class="btn btn-primary btn-block" type="submit" name="action">Logar</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}