{% extends 'base.html' %}
{% load static %}

{% block titulo %}Antithesis - Home{% endblock %}

{% block siteHeading %}site-heading{% endblock siteHeading %}

{% block tituloHome %}
  {% if user.is_authenticated %}
    Olá, {{ user.get_full_name }}!
  {% else %}
    Bem vindo (a)!
  {% endif %}
{% endblock %}

{% block subtituloHome %}
  {% if not user.is_authenticated %}
    Aqui você encontra as mais diversas opiniões e teorias sobre tudo no universo. Divirta-se!
  {% else %}
    Não esqueça de relatar bugs e problemas que você encontrar pelo sistema! Obrigado, de equipe <i>TerraPlanagem</i>
  {% endif %}
{% endblock %}

{% block imagemBackground %}{% static 'img/universe.gif' %}{% endblock %}

{% block navMenu %}
  {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login_usuario:deslogar_usuario' %}"><i class="fa fa-sign-out"></i> Deslogar</a>
    </li>
  {% endif %}
{% endblock navMenu %}

{% block content %}
<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for publicacao in publicacao_recente_lista %}
          <div class="post-preview">
            <a href="{% url 'home:publicacao' publicacao.id %}">
              <h3 class="post-title">
                {{ publicacao.title }}
              </h3>

              <h4 class="post-subtitle">
                {{ publicacao.subtitle }}
              </h4>
            </a>

            <p class="post-meta">Postado por
				<a href="#">{{ publicacao.user.user.get_full_name }}</a>
				 {% if user == publicacao.user.user %}
					|
					<a href="{% url 'cadastro_postagens:editar_postagem' publicacao.id %}">
						 Editar Publicação <i class="fa fa-pencil"></i>
					</a>
				{% endif %}
            </p>
          </div>
        {% endfor %}
        
        <!-- Pager -->
        <ul class="pagination">
          <li class="page-item">
            {% if publicacao_recente_lista.has_previous %}
                <a href="?page={{ publicacao_recente_lista.previous_page_number }}" class="page-link">Anterior</a>
            {% endif %}
          </li>

          {% for numero_paginas in publicacao_recente_lista.paginator.page_range %}
            <li class="page-item">
              {% if numero_paginas == publicacao_recente_lista.number %}
                <a class="page-link bg-info text-white" href="?page={{ numero_paginas }}">{{ numero_paginas }}</a>
              {% else %}
                <a class="page-link" href="?page={{ numero_paginas }}">{{ numero_paginas }}</a>
              {% endif %}
            </li>
          {% endfor %}
          
          <li class="page-item">
            {% if publicacao_recente_lista.has_next %}
              <a href="?page={{ publicacao_recente_lista.next_page_number }}" class="page-link">Próxima</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </div>

<script type="text/javascript">
  if ({{ publicacao_recente_lista.number }} > 1) {
    window.scrollTo(0, 600);
  }
</script>

{% endblock %}
