{% extends 'base.html' %}
{% load static %}

{% block titulo %}Antithesis - Home{% endblock %}

{% block siteHeading %}site-heading{% endblock siteHeading %}

{% block tituloHome %}
  {% if user.is_authenticated %}
    Olá, {{ user.get_full_name }}!
  {% else %}
    Bem vindo (a)!
  {% endif %}
{% endblock %}

{% block subtituloHome %}
  {% if not user.is_authenticated %}
    Aqui você encontra as mais diversas opiniões e teorias sobre tudo no universo. Divirta-se!
  {% endif %}
{% endblock %}

{% block imagemBackground %}{% static 'img/universe.gif' %}{% endblock %}

{% block navMenu %}
  {% if user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login_usuario:deslogar_usuario' %}"><i class="fa fa-sign-out"></i> Deslogar</a>
    </li>
  {% endif %}
{% endblock navMenu %}

{% block content %}
<!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for publicacao in publicacao_recente_lista %}
          <div class="post-preview">
            <a href="{% url 'home:publicacao' publicacao.id %}">
              <h3 class="post-title">
                {{ publicacao.title }}
              </h3>
              
              <h4 class="post-subtitle">
                {{ publicacao.subtitle }}
              </h4>
            </a>
            
            <p class="post-meta">Postado por
              <a href="#">{{ publicacao.user.user.get_full_name }}</a>
            </p>
          </div>
        {% endfor %}
        
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="">Outras postagens &rarr;</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
