{% extends 'base.html' %}
{% load static %}

{% block titulo %}Antithesis - Publicação{% endblock %}

{% block siteHeading %}post-heading{% endblock siteHeading %}

{% block tituloHome %}
	{% if publicacao %}
		{{ publicacao.title }}
	{% endif %}
{% endblock tituloHome %}

{% block subtituloHome %}
	{% if publicacao %}
		{{ publicacao.subtitle }}
	{% endif %}
{% endblock subtituloHome %}

{% block imagemBackground %}{% static 'img/discussion.gif' %}{% endblock imagemBackground %}

{% block content %}
	{% if publicacao %}
		<article>
		    <div class="container">
		      <div class="row">
		        <div class="col-lg-8 col-md-10 mx-auto">
					<p align="justify">{{ publicacao.text }}</p>
					
					<hr>

					<h3>Comentários</h3>

					{% for comentario in publicacao.comentario_set.all %}
						<p>{{ comentario.text }} | {{ comentario.user.user.get_full_name }}</p>
					{% endfor %}
		        </div>
		      </div>
		    </div>
		</article>
	{% endif %}
{% endblock content %}