{% extends 'base.html' %}
{% load static %}

{% block titulo %}Antithesis - Publicação{% endblock %}

{% block siteHeading %}post-heading{% endblock siteHeading %}

{% block tituloHome %}
	{% if publicacao %}
		{{ publicacao.title }}
	{% endif %}
{% endblock tituloHome %}

{% block subtituloHome %}
	{% if publicacao %}
		{{ publicacao.subtitle }}
	{% endif %}
{% endblock subtituloHome %}

{% block imagemBackground %}{% static 'img/discussion.gif' %}{% endblock imagemBackground %}

{% block content %}
	{% if publicacao %}
		<article>
		    <div class="container">
		      <div class="row">
		        <div class="col-lg-8 col-md-10 mx-auto">
					<p align="justify">{{ publicacao.text }}</p>
					<i>Postado por <a href="#">{{ publicacao.user }}</a></i>
					
					<hr>

					<h3>Comentários</h3>

					{% for comentario in publicacao.comentario_set.all %}
						<h5>{{ comentario.user.user.get_full_name }}</h5>
						{{ comentario.text }}
						
						{% if user == comentario.user.user %}
							<a href="{% url 'home:excluir_comentario' comentario.id publicacao.id %}">
								<i class="fa fa-trash-o text-danger"></i>
							</a>
						{% endif %}
						<br><br>
					{% endfor %}

					<form action="{% url 'home:publicacao' publicacao.id %}" method="POST">
						{% csrf_token %}

						{% for field in form %}
							<div class="form-group">
								{% if mensagens %}
									<ul>
										<li class="text-danger">{{ mensagens }}</li>
									</ul>
								{% endif %}

								<label>Comentário:</label>
								{{ field }}
								{{ field.errors }}
							</div>
						{% endfor %}
						
						<button class="btn btn-primary" type="submit" name="action">Comentar</button>
					</form>
				</div>
		      </div>
		    </div>
		</article>
	{% endif %}
{% endblock content %}